html, body, div, span, applet, object, iframe,
p, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font-family: sans-serif;
	list-style:none;
}

body {
    background: url('../img/fundo.jpg') repeat-x;
}

#topbar {
    height: 120px;
    border-bottom:2px solid #2C4381;
    color: #fff;
    margin-top: 15px;
    padding-top: 10px;
    padding-left: 10px;
	margin-bottom: 15px;
    border-radius: 3px;
}

/*#logo img {
-webkit-filter: invert(100%);
   -moz-filter: invert(100%);
    -ms-filter: invert(100%);
     -o-filter: invert(100%);
filter: invert(100%);
}*/


ul#menu-user {
	margin-top:30px;
    list-style: none;
    margin-left:500px;
}

ul#menu-user li {
    float:left;
    margin-right:20px;
}

#profile {
    background: url('../img/profile.png') no-repeat;
    background-position: center center;
    background-size:50px 50px;
}

#profile:hover {
    background: url('../img/profileY.png') no-repeat;
    background-position: center center;
    background-size:50px 50px;
}

#config {
    background: url('../img/config.png') no-repeat;
    background-position: center center;
    background-size:50px 50px;
}

#config:hover {
    background: url('../img/configY.png') no-repeat;
    background-position: center center;
    background-size:50px 50px;
}

#logout {
    background: url('../img/logout.png') no-repeat;
    background-position: center center;
    background-size:50px 50px;
}

#logout:hover {
    background: url('../img/logoutY.png') no-repeat;
    background-position: center center;
    background-size:50px 50px;
}

#topbar ul a{
	display:block;
	border:solid 2px #2C4381;
	padding:5px;
	padding-bottom:3px;
	width:60px;
	height:60px;
    transition:all ease-in 180ms;
}

#topbar ul a:hover {
	background-color:#2C4381;
	display:block;
	padding:5px;
	padding-bottom:3px;
}

#container {
	background-color:#fff;
 }
 
#sidemenu {
	margin-right:10px;
	width:18%;
	text-decoration:none;
}

#sidemenu ul a{
	text-decoration:none;
	display:block;
	color:#000000;
    font-family: sans-serif;
    font-size: 10pt;
    text-align: center;
}

#sidemenu ul {
	padding:8px; 
}

#centro {
	width:79%;
	text-align:center;
    padding-bottom: 8px;
    padding-left: 5px;
    border-left: 1px solid grey;
    border-top:1px solid grey;
    border-right:4px solid grey;
    border-bottom: 4px solid grey; 
}

.conteudo-meio {
    width:1080px;
    margin:0 auto;
}

}

.direita {
    float:right;
}

.esquerda {
    float:left;
}

.article {
    width:30%;
    margin:0 8px;
    text-align: justify;
}

.navigator {
    /*background: url('../img/fundomenu.jpg') repeat-x;*/
    height: 180px;
    margin-bottom: 10px;
    border-radius:3px;
    border-left: 1px solid grey;
    border-top:1px solid grey;
    border-right:4px solid grey;
    border-bottom: 4px solid grey; 
}

.navigator h3 {
    font-size:12pt;
    color: #000000;
    font-weight: normal;
    text-align: center; 
}

.navigator li{
    border-bottom: 1px solid #000000;
    padding-left: 5px;
    padding-right: 5px;
    color: grey;
    padding-bottom: 5px;
    padding-top: 5px;
}

.navigator li:hover{
    background-color: #E8E4E1;
}